{% extends "base.html"%}

{% block content %}
<div class="row">


    <div class='col-sm-8'>
         <h2>{{ object.title }}</h2>
         {% if object.productimage_set.count > 0 %}
        <div>
              {% for img in object.productimage_set.all %}
              <img class = 'img-responsive'src="{{ img.image.url }}" />
              {% endfor %}
              <p class='lead'>{{ object.description }}</p>
        </div>        
          {% endif %}

    </div>

    <!-- Product Sidebar --> 
    <div class='col-sm-4'>
        
        {% if object.variation_set.count > 1 %}
            <select class="form-control">
                {% for vari_obj in object.variation_set.all %}
                <option value="{{ vari_obj.id }}"> {{ vari_obj }}</option>  
                {% endfor %}
            </select>
        {% endif %}
        <br/>
 <p>ADD ON: {{ object.created_date }}</p><br>
<p>Remains: {{ object.quentity }}</p>
        <a href="#">Add to Cart</a>
<button type="button"  class="btn btn-info btn-lg" >Excahnge/Donate</button><br>
    </div>
       
</div>
</p style=color:brown>Last Update:{{object.updated_date}}</p><br>
       </p>Expire On:{{object.expiry_date}}</p> <br> 

        <br/>
        <hr/>
    </div>
</div>
{% endblock %}
